body{
font-family:Arial;
background:#f4f4f4;
}

.login-container{
width:400px;
margin:100px auto;
padding:30px;
background:white;
box-shadow:0 0 10px #ccc;
}

input{
width:100%;
padding:10px;
margin-bottom:15px;
}

button{
width:100%;
padding:10px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}
